python-telegram-bot==12.0.0b1
pySmartDL
PyDrive
wget
requests
pymongo
dnspython
pyopenload
urllib3
requests
URLObject>=2.1.1
pycrypto>=2.6
aiohttp
beautifulsoup4
git+git://github.com/google/chatbase-python.git
hachoir
numpy
Pillow
https://github.com/pyrogram/pyrogram/archive/asyncio-dev.zip
requests
tgcrypto
#youtube-dl
git+git://github.com/sudoshell/youtube-dl@73400cc#youtube_dl
sudo pip install --upgrade youtube_dl




















